@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-text {
  font-family:
    'Microsoft YaHei',
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}

html {
  background: none !important;
  background-color: transparent !important;
}

.app-nodrag {
  -webkit-app-region: none;
}

.app-drag {
  -webkit-app-region: drag;
}

* {
  user-select: none;
}
