@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  *::-webkit-scrollbar-thumb {
    background: #c0c1c58f;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #c0c1c550;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  *::-webkit-scrollbar-thumb {
    background: #c0c1c550;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #c0c1c58f;
  }
}
